@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 2
   
   Style Sheet for Grids used in the Costume Expressions Front Page
   Author: William Seaver
   Date:   5/16/2022
   
   Filename: ce_grids.css

*/


/* Grid Rows Styles */


body > div.row {
   width: 100%;
   clear: both;
}

body > div.row::after {
   clear:both;
   content: "";
   display: table;
}


/* Grid Columns Styles */

body > div[class^="column"] {
   float: left;
}

body > div.column100 {
   width: 100%;
}

body > div.column50 {
   width: 50%;
}

body > div.column33 {
   width: 33%;
}

body > div.column67 {
   width: 67%;
}

body > div.column25 {
   width: 25%;
}

body > div.column75 {
   width: 75%;
}

body > div.column20 {
   width: 20%;
}

body > div.column40 {
   width: 40%;
}

body > div.column60 {
   width: 60%;
}

body > div.column80 {
   width: 80%;
}

/* Grid Spacing Styles */

div.container, div.row, div[class^="column"], div.cell, div > a.cell {
   box-sizing: border-box;
}